@charset "UTF-8";

/*   titulos -> "Ubuntu" "Inter" <- inter para texto normal   */
:root {
    --font1: 'Ubuntu', sans-serif;
    --font2: 'Inter', sans-serif;
    --blue: #0d6efd;
    --gray: #6e7277;
    --grayish: #b4b4b4;
    --black: #000;
    --white: #fff;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    font-family: 'Inter';
    overflow-x: hidden;
    scroll-behavior: smooth;
}

header {
    position: sticky;
    top: 0;
    background-color: rgba(255, 255, 255, 0.850);
    backdrop-filter: blur(2px);
    z-index: 9999;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

nav{
    height: 4.5625rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    padding: 1.2rem 1rem;
    font-family: var(--font1);
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.160);
}

a#title{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .2rem;
    padding: .2rem;
    font-size: 1.5rem;
    color: var(--blue);
}   a#title:hover{
    font-size: 1.6rem;
    transition: .3s;
}

.burguer {
    display: none;
    border: none;
    background: none;
    border-top: 3px solid var(--gray);
    cursor: pointer;
}   .burguer::before, .burguer::after {
        content: " ";
        display: block;
        width: 30px;
        height: 3px;
        background: var(--gray);
        margin-top: 5px;
    }

.hamburger {
  display: none;
  border: none;
  background: none;
  border-top: 3px solid #fff;
  cursor: pointer;
}

.hamburger::after,
.hamburger::before {
  content: " ";
  display: block;
  width: 30px;
  height: 3px;
  background: #fff;
  margin-top: 5px;
  position: relative;
  transition: 0.3s;
}

nav ul {
    display: flex;
    gap: 1rem;
    align-items: center;
}
    li, a{
        list-style: none;
        text-decoration: none;
        font-family: var(--font2);
        padding: 0 .15rem;
        font-size: 1.2rem;
        color: var(--gray);
    } li, a:visited{
        color: var(--gray);
    }
    a:hover{
        font-size: 1.3rem;
        transition: .3s;
        color: #595d61;
    }

main { 
   text-align: center;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}   

/*banner*/

section#hero{
    width: 100vw;
    height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: radial-gradient(circle,rgba(0, 0, 0, 0.349) 3%, rgba(0, 0, 0, 0.349) 3%, rgba(0, 0, 0, 0.349) 2%, rgba(0, 0, 0, 0.349) 6%, rgba(0, 0, 0, 0.349) 100%) ,
    url('https://images.pexels.com/photos/356065/pexels-photo-356065.jpeg');
    background-position: center;
    background-size: cover;
    color: var(--white);
    text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5), 3px 7px 12px rgba(0,0,0,0.1);
}
    #hero h1{
        font: 600 6rem var(--font2);
    }   #hero h1 span {
        font-weight: 500;
        }
    #hero p{
        font: 400 2rem var(--font2);
        margin-top: 1rem;
    }   #hero p span{
            font-style: italic;
        }
    #hero span {
        color: var(--blue);
    }

/*info*/

section#info {
    width: 100%;
    text-align: center;
    padding: 0 2rem 0;
}   #info h2 {
        padding: 2rem 0;
    }

#description {
    width: 100%;
    padding: 2rem 0;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}   #description div {
        width: 75vw;
        display: flex;
        flex-direction: column;
        justify-self: center;
    }
    #description p {
        padding: 0 0 2rem 0 ;
    }

#lecturers {
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 2rem 1rem;
}

#card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
}

#card{
    max-width: 20rem;
    border-radius: .5rem;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin: .1rem;
}   #card img {
        width: 100%;
        max-height: 16rem;
        object-fit: cover;
        object-position: center;
    }   #card:hover{
            transform: scale(1.05);
            transition: .4s;
        }   
    #card-content {
        padding: .75rem .75rem;    
        text-align: start;
        font-size: 1rem;
    }   #card-content h3 {
            padding: 0 1rem;
        }   
    
        #card-content p {
            padding: 1rem;
            font-size: .8rem;
        }

/*Horários*/

#schedule{
    width: 100%;
    padding: 0 2rem 0;
    background: var(--white);
}   #schedule h2 {
        text-align: center;
        margin-bottom: 2rem;
        color: var(--black);
    }

    .schedule-box {
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
        padding: 2rem 0;
    }

    .schedule-container {
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;
        justify-content: center;
    }

.slot {
    background-color: rgba(13, 109, 253, 0.349);
    padding: 1.2rem;
    border-radius: .8rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .9rem;
    max-width: 23rem;
}

.slot-icon {
    font-size: 2rem;
}

.slot h3 {
    margin: 0;
    font-size: 1.2rem;
    color: #333;
}

.slot p {
    margin: 0;
    color: #444;
    font-size: .9rem;
    line-height: 1.4;
}

/*formulario*/

#contact {
    width: 100%;
    padding: 0 2rem;
}

#form-container {
    width: 100%;
    background: #fff;
    padding: 2rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: row;
    gap: 2rem;
}   #form-container div {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 2rem;
        flex-wrap: wrap;
        
    }

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 1rem;
}

#contactForm input, textarea {
    min-width: 12rem;
    width: 100%;
    padding: .8rem;
    border: 1px solid #4e4e4e7c;
    border-radius: .9rem;
    font-size: 1rem;
    box-sizing: border-box;
}

#contactForm textarea {
    resize: none;
    min-height: 7.5rem;
}

#contactForm button {
    padding: 12px;
    border: none;
    border-radius: 5px;
    background: var(--blue);
    color: var(--white);
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}   #contactForm button:hover {
        background: #0056b3;
        font-weight: bolder;
        transform: scale(1.01);
    }



footer {
    background: #111;
    color: #eee;
    padding: 2.3rem;
    text-align: center;
}   footer a {
        color: var(--blue);
        text-decoration: none;
    }
    footer>p {
        padding: 2rem 0 0;
    }

.footer-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1.25rem;
    margin-bottom: 1.25rem;
}

.footer-section h4 {
    margin-bottom: 0.625rem;
    color: #fff;
}


@media (max-width: 576px) {
    .burguer {
        display: block;
        z-index: 99999;
    }
    .nav-list {
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        width: 50vw;
        height: 100vh;
        background: rgba(255, 255, 255, 0.850);
        backdrop-filter: blur(2px);
        flex-direction: column;
        gap: 6rem;
        padding: 5rem 0;
        margin-top: 73px;
        transition: 1s;
    }
    #hero h1{
        font: 600 2.5rem var(--font2);
    }

    ul.active.nav-list {
        display: flex;
        transition: 1s;
    }

    .slot-icon {
        font-size: 1.5rem;
    }

    .slot h3 {
    margin: 0;
    font-size: .8rem;
    color: #333;
    }

    .slot p {
        margin: 0;
        color: #444;
        font-size: .6rem;
        line-height: 1.4;
    }

    #form-container div {
        font-size: scale(.3);   
    }

    #form-container div h2{
    font-size: 1.2rem;

    }
    #form-container div p {
        font-size: .8rem;
    }
}

@media (min-width: 577px){
#contactForm input, textarea {
    min-width: 22rem;
}

#form-container div h2{
    font-size: 1.5rem;
}
#form-container div p {
    font-size: 1rem;
}
}
